@media (max-width:576px){
	.d-xs-none {
	  display: none !important;
	}
	.d_top{
		margin-top: 30px;
	}
	.height_div{
		height: 255px;
	}
	.head2_div{
		margin-left: 100px;
	}
	
}
@media (min-width:576px){
	.navbar-dark .navbar-nav .nav-link{
		color:#E89E1A;
		font-size: 10px;
	}
	.menu_bg{
				width: 400px;
				background: none repeat scroll 0 0 #883E00;
				border:1px solid white;
				border-radius: 4px;
				outline: 1px;
	}
}
@media (min-width:768px){
	.navbar-dark .navbar-nav .nav-link{
		color:#E89E1A;
		font-size: 20px;
	}
	.menu_bg{
		background-color:transparent;
		border: 0px;
		width: 100%;
	}
}
.head_div1_bg{
	background: linear-gradient(to bottom, rgba(55,35,11,1) 0%,rgba(30,24,15,1) 100%);
}
.head_div2_bg{
	background-color:#21190e;
}
.breadcrumb-item + .breadcrumb-item::before {
  content: "";
}
.font1_color{
	color: #E89E1A;
	font-size: 12px;
}
.p-l{
	margin-left: 300px;
}
.logo{
    margin-bottom: 20px;
    margin-top: -30px;
}
.border_bottom{
	border-bottom:5px solid #40260C; 
}
.navbar-toggler .navbar-toggler-icon{
	width:20px;	
}
.navbar-toggler{
	border-color: transparent;
}
